@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Inscriptional+Pahlavi&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Inscriptional+Pahlavi&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --Background: #f6eff1;
  --Text: #1e1017;
  --Primary: #5d3247;
  --Secondary: #c8a198;
  --Accent: #8b614b;
}

body.dark-mode {
  --Background: #10090b;
  --Text: #efe1e8;
  --Primary: #cda2b7;
  --Secondary: #674037;
  --Accent: #b48a74;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--Background);
  color: var(--Text);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  min-width: 360px;
}

#about-page {
  display: none;
  z-index: 2;
  background: var(--Background);
  width: min(25rem, fit-content);
  right: 0;
  top: 5rem;
  position: absolute;
  padding: 1rem;
  border: 1px solid var(--Accent);
  border-radius: 5px;

  #about-page a {
    text-decoration: none;
    color: var(--Accent);
  }
}

nav {
  display: flex;
  z-index: 5;
  padding: 10px 0;
  position: relative;
}

nav ul {
  padding-right: 2rem;
  gap: 1rem;
  display: flex;
  margin-left: auto;
  list-style-type: none;
  font-size: 1.2rem;
}

nav ul li {
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 600;
  color: var(--Text);
}

#Light-mode-on {
  color: var(--Text);
}

#Dark-mode-on {
  color: var(--Text-Dark);
  display: none;
}

main {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.text {
  color: var(--Text);
  font-size: max(4vw);
  width: 75vw;
  height: fit-content;
  margin: auto;
  padding: 15px;
  box-shadow: 8px -3px 66px -1px rgba(0, 0, 0, 0.24) inset;
  -webkit-box-shadow: 8px -3px 66px -1px rgba(0, 0, 0, 0.24) inset;
  -moz-box-shadow: 8px -3px 66px -1px rgba(0, 0, 0, 0.24) inset;
  border-radius: 20px;
  border: 1px solid var(--Accent)
}

button {
  background-color: var(--Secondary);
  color: var(--Text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem auto auto auto;
  font-size: 1rem;
}

button:hover {
  background-color: var(--Accent);
}
